{% extends "layouts/base2.html" %}

{% load l10n %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="{{ ASSETS_ROOT }}/css/custom.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

    <h3 class="text-center my-4">Banco de ayuda técnica y registro de Electrodependientes</h3>

    <h5 class="text-center">Solicite los permisos necesarios al administrador para poder acceder a las funciones del sistema</h5>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
